<%- include('layout/top'); %>
<%- include('layout/header'); %>
<main class="flex-container">
	<% images.forEach(({ detail, thumbnail }) => { %>
		<%- include('fragments/thumbnail', {detail, thumbnail}); %>
	<% }); %>
</main>
<%- include('layout/footer'); %>
<%- include('layout/bottom'); %>
