<%- include('layout/top'); %>
<%- include('layout/header'); %>
<main class="content">
    <img class="image-large" src="<%= image.original %>">
    <h3 class="center-text"><%= image.title %></h3>
</main>
<%- include('layout/footer'); %>
<%- include('layout/bottom'); %>
